.header{
    margin-bottom: 10px;

    background-color: var(--bacground-header-color);
    padding: var(--main-paddind);
}

.link{
    text-decoration: none;
    font-size: var(--font-size-max);
    margin-right: 20px;
}

.active_link{
    color: var(--txt-active-color);

}
.nonactive_link{
    color: var(--txt-nonactive-color);
}
